@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
}

.header {
    max-width: 1920px;
}

.nav-ul {
    list-style: none;
    font-size: 18px;
    font-weight: 500;
}

.list-link {
    text-decoration: none;
    margin-right: 20px
}

.navbar {
    justify-content: space-between;
    align-items: center;
}

.brand-name {
    font-size: 3rem;
    font-weight: bold;
    color: #131313;
}



/* shared style  */
.display-flex {
    display: flex;
}

.bg-color {
    background-color: rgba(255, 144, 14, 0.1);
}

.dark-gray {
    color: #424242;
}

.navbar,
.banner {
    max-width: 1440px;
    margin: 0 auto;
}

/* banner-related-style */

.banner-content {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}


.banner-head {
    font: size 4em;
    ;
    font-weight: bold;
    color: #131313;
}

.banner-par {
    font-size: 1rem;
    color: #727272;
    font-weight: 400;
}

.primary-btn {
    width: 180px;
    height: 64px;
    background-color: #FF900E;
    color: #FFFFFF;
    border-radius: 10px;
    border: none;
    padding: 20px 25px;
    font-size: 20px;
    font-weight: 700;
}

.banner-img {
    width: 100%;
}

.quick-features {
    max-width: 1440px;
    align-items: center;
    margin-top: 85px;



}

.img-section {
    margin-right: 20px;
}

.quick-features {
    display: flex;
}

.img-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}


.features {
    width: 537px;
    height: 304px;
}

.features-heading {
    font-size: 45px;
}

.features-paragraph {
    font-size: 16px;
    color: #727272;
}

/* features section related style  */
.love-head {
    border-left: 5px solid #FF900E;
    padding: 20px;
    font-size: 45px;
    font-weight: bold;
    
   
     
}

.love-paragraph {
    font-size: 16px;
    color: #727272;
  
}

.features-love {
    display: flex;
    gap: 140px;
     
}

.feature-card .love-paragraph{
    font-size: 20px;
    font-weight: 700;
    
}

.card {
    padding: 30px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}

.card-img{ padding-top: 180px;}

.button-padding{ padding: 42px;

    background-color: #FF900E;
    color: #FFFFFF;
    border-radius: 10px;
    border: none;
width: 380px;
height: 200px;}


.Quick {
    color: #727272;
    font-weight: 400
}

.Our {
    color: #131313;
}

.Feature {
    color: #FF900E;
}

.some {
    font-size: 45px;
    font-weight: bold;
}

.facts-paragraph {
    font-size: 16px;
    color: #727272;
    font-weight: 300;
}



/* card style  */
.card-div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}

.boarder-card {
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.our-sponsors {
    font-size: 45px;
    font-weight: bold;
}

.sponsors-para {
    font-size: 16px;
    color: #727272;
}

.sponsors-title {
    width: 542px;
    height: 129px;
    text-align: center;
    margin: 50px auto;
}

.sponsor-section {
    margin-top: 80px;
    margin-bottom: 70px;
}

.img-color {
    filter: grayscale(100%);
}

.sponsors-company {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
}


/* responsive media query  */

@media screen and (max-width: 576px) {

    .nav-ul,
    .navbar,
    .quick-features {
        flex-direction: column;
    }

    .img-section {
        grid-template-columns: repeat(1, 1fr);
    }

    /* .card-div{ 
        grid-template-rows: repeat(1, 1fr);
    } */

    .features {
        width: 350px;
    }


}