@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
}



.nav-ul {
    list-style: none;
    font-size: 18px;
    font-weight: 500;
}

.list-link {
    text-decoration: none;
    margin-right: 20px
}
.navbar{ justify-content: space-between;
    align-items: center;
}

.brand-name{ font-size: 3rem;
font-weight: bold;
color: #131313;}



/* shared style  */
.display-flex {
    display: flex;
}
.bg-color{ background-color:rgba(255, 144, 14, 0.1);}
.dark-gray {color: #424242;}

.navbar, .banner{ max-width: 1440px;
margin: 0 50px;}

/* banner-related-style */

.banner-content{ max-width: 850px;
    margin: 0 auto;
    text-align: center;
}

.banner-head{ font: size 4em; ;
font-weight: bold;
color: #131313;
}

.banner-par{ font-size: 1rem;
color: #727272;
font-weight: 400;
width: 868px;
height: 52px; }

.primary-btn{ width: 180px;
height: 64px;
background-color: #FF900E;
color: #FFFFFF;
border-radius: 10px;
border: none;}